.row {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  max-width: 50vw;
}

.item {
  font-size: 14px;
  margin: 0 6px;

  display: flex;
  flex: 1;
  align-items: center;
}
.item svg {
  fill: black;
  width: 20px;
  margin: 0 6px 0 0;
}
